@import "tailwindcss";

/* .history__container {
  max-height: 30%;
} */

.pong__button {
  padding: "1rem 2rem";
  font-size: "1rem";
  font-weight: "bold";
  color: "white";
  background-color: #f59e0b;
  border: "none";
  border-radius: "0.5rem";
  cursor: "pointer";
  box-shadow: "0 4px 6px rgba(0; 0; 0; 0.3)";
  transition: "all 0.2s"
}